{% extends 'base.html'%}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<body>
<style>

    
    
        .babe-form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
           max-width: 50%;
            margin: auto;
            border-radius: 5px;
    border: solid black;
        margin-bottom: 6px;
        border-radius: 10px;
        padding-left: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-right: 15px;
        
    
        
            
           
        }
    
        h4 {
            text-align: center;
            font-family: sans-serif;
            color: #0C356A;
            text-shadow: 2px 2px 4px #000000;
        }
    
      
        
        
        
        
    
        label {
            font-weight: bold;
            margin-top: 7px;
            margin-bottom:5px ;
        }
    
        button[type="submit"] {
        margin-top: 2px;
           
            background-color: #0C356A;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            
        }
    
    </style>
    <h4>ADD A NEW BABY</h4>
    <hr>
    <div class=" formfeild">
    <div class="container">
        <form method="POST" action="" class="babe-form">
            {% csrf_token %}
            {{ form|crispy}}

            <button type="submit">Save</button>
        </form>
    </div>
</div>
    {% endblock %}
  
        
       











