{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
.sitter-form{ display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:6px;
    border-radius: 8px;
    
    background-color:white;
padding: 20px;
border-radius: 20px;
grid-gap: 12px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;  }
    .babe-formlabel{font-weight: bold;}
    
    h4{margin-left: 480px;
   font-family: sans-serif; 
   color:#0C356A;
        text-shadow: 2px 2px 4px #000000;}
    
      body{background-color: darkgray; }
        
        
    
</style>  

<h4 >ADD NEW SITTERS</h4><hr>
<div class="container">
    <form method="POST" class="sitter-form">

        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary" style="width: 100px; padding:20px;">Save</button>
    </form>
</div>


    











{%endblock %}


