{% extends 'base.html'%} {% block content%}
<br>

<style>
  h4{ color:#0C356A;
    text-shadow: 2px 2px 4px #000000;
margin-left: 466px;
font-family: sans-serif;}
</style>

  
    <h4 >TOTAL SALES MADE</h4><hr>


  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Total Amount Received</th>
        <th scope="col">Total change Given</th>
        <th scope="col">Net Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>UGX{{total}}</td>
        <td>UGX{{change}}</td>
        <td>UGX{{net}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br><br>

<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">child's name</th>
        <th scope="col">Doll Bought</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(UGX)</th>
        <th scope="col">Total Cost</th>
        <th scope="col">Amount Paid</th>
        <th scope="col">child's Debtors</th>
      </tr>
    </thead>
    {% for sale in sales %}
    <tbody>
      <tr>

        
        <td style="color:#FB667A;">{{sale.payee | title}}</td>
        <td>{{sale.doll | title}}</td>
        <td>{{sale.quantity_sold}}</td>
        <td>UGX{{sale.unit_price}}</td>
        <td>UGX{{sale.get_total}}</td>
        <td>UGX{{sale.amount_received}}</td>
        <td>UGX{{sale.get_change}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock%}


