{% extends 'base.html'%} {% block content%}
<br>

<style>
  h4{ color:#0C356A;
    text-shadow: 2px 2px 4px #000000;
margin-left: 466px;
font-family: sans-serif;}
</style>

  
    <h4 >TOTAL QUANTITY PROCURED  MADE</h4><hr>


  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Total Quantity  Received</th>
        <th scope="col">Total Quantity issued</th>
        <th scope="col">Net Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{total_received_quantity}}</td>
        <td>{{total_issued_quantity}}</td>
        <td>{{net_quantity}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br><br>

<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">item name</th>
        <th scope="col">Quantity_issued</th>
        <th scope="col">Issued date</th>
        
       
      </tr>
    </thead>
    {% for issue  in issues %}
    <tbody>
      <tr> 
        <td>{{issue.item | title}}</td>
        <td>{{issue.quantity_issued}}</td>
        <td>{{issue.issued_date}}</td>  
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock%}


