{% extends 'base.html'%} {% block content%}
<br></br>

<div class="container">
  <div class="card-header" style="background-color: white; width:40%;">
    <h1 class="text-center" style="color: black;">TOTAL SALES MADE</h1>
  </div><br>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Total Amount Received</th>
        <th scope="col">Total change Given</th>
        <th scope="col">Net Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>UGX{{total}}</td>
        <td>UGX{{change}}</td>
        <td>UGX{{net}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br><br>

<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">child's name</th>
        <th scope="col">Doll Bought</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(UGX)</th>
        <th scope="col">Total Cost</th>
        <th scope="col">Amount Paid</th>
        <th scope="col">child's Debtors</th>
      </tr>
    </thead>
    {% for sale in sales %}
    <tbody>
      <tr>

        
        <td style="color:#FB667A;">{{sale.payee | title}}</td>
        <td>{{sale.doll | title}}</td>
        <td>{{sale.quantity_sold}}</td>
        <td>UGX{{sale.unit_price}}</td>
        <td>UGX{{sale.get_total}}</td>
        <td>UGX{{sale.amount_received}}</td>
        <td>UGX{{sale.get_change}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock%}


