{% extends 'base.html' %}

{% load static %}

{% block content%}

<style>
    
    input {width: 50%;}
    .table-responsive {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    }
    h4 {margin-left: 500px;
        color:#0C356A;
        text-shadow: 2px 2px 4px #000000;}
        body{background-color: darkgray;}

        button {
            background-color: #0c356a;
          }
          .btn-primary {
            background-color: #094f9f;
          }
          .btn {
              background-color: #0c356a;
              color: white;
              transition: background-color 0.7s;
              text-decoration: none;
              padding: 8px 16px;
              border-radius: 4px;
          }
      
          .btn:hover {
              background-color: #094f9f; /* Change to a darker shade for hover */
          }        
</style>
</head>
<body>
<h4 class="mb-3">LISTS OF BABIES</h4><hr>

<form action="" method="GET"style="margin-right:450px;">
    {{baby_filters.form}}
    <input type="submit" value="Search baby name" class="btn btn-primary" style="width:150px"/>
    </form>
<br>
<a href="/add" class="btn btn-primary mb-3">Add new baby</a>
<!-- <a style="margin-left: 900px;" href="/arrival" class="btn btn-primary mb-3">DAILY ARRIVAL BABY REGISTER</a> -->

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Categorystay</th>
                <th scope="col">Gender</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Parents_name</th>
                <th scope="col">Location</th>
                <th scope="col">Babysnumber</th>
                <th scope="col">Date</th>
                <th scope="col">Time in</th>
                <th scope="col">Care_taker</th>
                <th scope=>Assigned_to</th>
                <th scope=>Action</th>
            </tr>
        </thead>

    
        <tbody>
            {% for baby in babies %}
            <tr>
                <td>{{ baby.id }}</td>
                <td>{{ baby.c_stay}}</td>
                <td>{{ baby.gender }}</td>
                <td>{{ baby.name_of_the_baby }}</td>
                <td>{{ baby.age }}</td>
                <td>{{ baby.parents_name }}</td>
                <td>{{ baby.location }}</td>
                <td>{{ baby.babys_number}}</td>
                <td>{{ baby.date }}</td>
                <td>{{ baby.timein}}</td>
                <td>{{ baby.care_taker}}</td>
                <td>{{ baby.Assigned_to}}</td>
            
                <td>   
                    <a href="{% url 'read' id=baby.id %}"  class="btn btn-primary ">Read</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>









{% endblock %}