{% extends 'base.html' %}
{% load static %}

{% block content %}
 <style>
    h4{ color:#0C356A;
        text-shadow: 2px 2px 4px #000000;
     margin-left: 510px;
     margin-top: 80px;
    }
    body{background-color: darkgray}
    


    button {
        background-color: #0c356a;
      }
      .btn-primary {
        background-color: #094f9f;
      }
      .btn {
          background-color: #0c356a;
          color: white;
          transition: background-color 0.7s;
          text-decoration: none;
          padding: 8px 16px;
          border-radius: 4px;
      }
  
      .btn:hover {
          background-color: #094f9f; /* Change to a darker shade for hover */
      } 
      
      input[type="text"] {
        border: 3px solid rgba(0, 128, 255, 0.2);
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
        border-radius: 2px;
        margin-top: 33px;
    }
    
    input[type="text"]:focus {
        border-color: rgba(0, 128, 255, 0.5);
        box-shadow: 0 0 0.2rem rgba(0, 128, 255, 0.5);
    }

    .button-container {
        display: flex;
    }
    
    .button-container a {
        margin-right: 11px; /* Adjust spacing between buttons */
        width
        margin-bottom:2px;
    }
    .search {
    
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 300px;
            margin-top:0px; 
          
    }
    .search form {
        display: flex;
        align-items: center;
        margin-bottom: 0; 
        margin-top: 0;
        
      }
      .search form input[type="submit"] {
        margin-left: 10px; /* Adjust spacing between input and button */
        
      }
      input[type="text"] {
        border: 3px solid rgba(0, 128, 255, 0.2);
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
        border-radius: 4px;
        padding:0.2rem 0;
    }

    .frame th {
        background-color: #0c356a;
        color:white;
    }
    .table-container {
        box-shadow: 1px 0px 20px -1px rgba(0,0,0,0.65);
        overflow-x: auto;
        max-width: 100%;
        border-radius: i5px;
        background-color: white;
        border-radius: 15px;
        font-family:sans-serif;
    
      
      }
    
 </style>


  


    
        <h4 >DOLLS IN  STOCK</h4><hr>
        <div class="search">
        <form action="" method="GET">
            {{doll_filters.form}}
            <input type="submit" value="Search doll" class="btn btn-primary" style="width:130px;margin-top:28px;padding:6px;"/>
            </form> 
        </div>            
 <div class="container">
<div class="button-container" style="margin-bottom:5px;">
    <a style="margin-left:27px;" href="/dolladd" class="btn btn-primary hover_button">Add doll</a>
    <a href="{% url 'receipt' %}" class="btn btn-primary hover_button">Receipts</a>
    <a href="{% url 'all_sales' %}" class="btn btn-primary hover-button">All Sales</a>
</div>

    


<div class="table-container">
<table  id="dataTable" class="table table-stripped table-hover">
    
    <thead  class="frame text-center" >
        <tr>
            <th scope="col" class="project-h1">Category</th>
            <th scope="col" class="project-h1">Dolls name</th>
            <th scope="col" class="project-h1">Size</th>
            <th scope="col" class="project-h1">Color</th>
            <th scope="col" class="project-h1">Quantity</th>
            <th scope="col" class="project-h1">Unit Price(UGX)</th>
            <th scope="col" class="project-h1">Date</th>
            <th scope="col" class="project-h1">Detail</th>
        </tr>
    </thead>
    {% for dolls in dolls %}
    <tbody>
        <tr style="font-family: sans-serif; text-align:center;">
            <td>{{dolls.c_doll}}</td>
            <td>{{dolls.name_of_the_doll}}</td>
            <td>{{dolls.size}}</td>
            <td>{{dolls.color}}</td>
            <td>{{dolls.quantity}}</td>
            <td>UGX{{dolls.Unit_price}}</td>
            <td>{{dolls.date}}</td>
           
            <div> <!-- here we are hadling the buy item link n its handled by product_detail view -->
            
            <td >
                <a href="{% url 'dollscorner' doll_id=dolls.id %}" class="btn btn-primary">View doll</a>
            


            </td>



        </div>


        </tr>
    </tbody>
    {% endfor %}
</table>
</div>
</div>
</div>
</div>
</div>
{% endblock %}