{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    .sitter-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
       max-width: 50%;
        margin: auto;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 15px;
    background-color:white;
    border: 5px solid rgba(0, 128, 255, 0.2);
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;

    
        
       
    }

    h4 {
        text-align: center;
        font-family: sans-serif;
        color: #0C356A;
        text-shadow: 2px 2px 4px #000000;
        margin-top:86px;
    }

  
    
    
    
    

    label {
        font-weight: bold;
        margin-top: 1px;
        margin-bottom:1px ;
    }

    button[type="submit"] {
        background-color:#0c356a ;
        color: white;
        border: none;
        width:110%;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        max-width: 240px;
        height: 40px;
        padding: 10px;
        transition: background-color 0.8s, color 0.7s; /* Adding transition effect */
    }
    
    button[type="submit"]:hover {
        /* Changing background color on hover */
      background-color: #094f9f; /* Changing text color on hover */
    }
    
   body {background-color: darkgray;}   
   
   
   input[type="text"],
input[type="number"],
input[type="date"],
select {
    border: 2px solid rgba(0, 128, 255, 0.2);
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    border-radius: 5px; /* Added border radius */
margin-top:0px;
margin-bottom:0px;}

    .container select[name="gender"] {
        border: 2px solid rgba(0, 128, 255, 0.2);
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s; }
        .container select[name="location"] {
            border: 2px solid rgba(0, 128, 255, 0.2);
            box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
            transition: border-color 0.3s, box-shadow 0.3s; }

            .container select[name="level_of_education"] {
                border: 2px solid rgba(0, 128, 255, 0.2);
                box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
                transition: border-color 0.3s, box-shadow 0.3s; }
     
        
    
</style>  <h4 style="text-transform:uppercase;"> EDIT {{   sitter.name }}'S DETAILS</h4><hr>
<div class="container">
    <form method="POST" class="sitter-form">

        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary" >Update</button>
    </form>
</div>


    











{%endblock %}


