{% extends 'base.html' %}
{% load static %}

{% block content %}

 <style>
    External CSS */
    .button-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .button-container a {
        text-decoration: none;
    }

    /* Your existing inline CSS */
    h4 {
        color: #0C356A;
        text-shadow: 2px 2px 4px #000000;
        margin-left: 480px;
        margin-top: 80px;
    }

    button {
        background-color: #0c356a;
    }

    .btn-primary {
        background-color: #094f9f;
    }

    .btn {
        background-color: #0c356a;
        color: white;
        transition: background-color 0.7s;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 4px;
    }

    .btn:hover {
        background-color: #094f9f; /* Change to a darker shade for hover */
    }

    body{background-color: darkgray}

    input[type="text"] {
        border: 4px solid rgba(0, 128, 255, 0.2);
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
        border-radius: 2px;
    }
    
    input[type="text"]:focus {
        border-color: rgba(0, 128, 255, 0.5);
        box-shadow: 0 0 0.2rem rgba(0, 128, 255, 0.5);
    }
        
    
 </style>

  
<div class="table-container">
    
        <h4 >PRODUCTS  IN  STOCK</h4><hr>
        <form action="" method="GET"style="margin-right:450px;">
            {{product_filters.form}}<br>
            <input type="submit" value="Search item name" class="btn btn-primary" style="width:170px,border-"/>
            </form>
         <br>    
        
         <div class="button-container">
            <a href="/inventoryform" class="btn btn-primary">Add Items</a>
            <a href="/all_issue_items" class="btn btn-primary">All Items Issued</a>
        </div>
    

        <div class="table-container">
</div>
<table class="table table-bordered">
    
    <thead class="thead-dark table-bordered" style="text-align:center;">
        <tr>
            <th scope="col" class="project-h1" style="text-align:center;">Category</th>
            <th scope="col" class="project-h1" style="text-align:center;">Item name</th>
            <th scope="col" class="project-h1" style="text-align:center;">Quantity</th>
            <th scope="col" class="project-h1" style="text-align:center;">Unit Price(UGX)</th>
            <th scope="col" class="project-h1" style="text-align:center;">Date</th>
            <th scope="col" class="project-h1" >Detail</th>
        </tr>
    </thead>
    {% for product  in inventory %}
    <tbody>
        <tr style="font-family: sans-serif; text-align:center;" >
            <td>{{product.category}}</td>
            <td>{{product.item_name}}</td>
             <td>{{product.Quantity}}</td>
             <td>UGX{{product.Unit_price}}</td>
             <td> {{product.date}}</td>
           
           <div> <!-- here we are hadling the buy item link n its handled by product_detail view -->
            
            <td >
                <a href="{% url 'issue' pk=product.id %}" class="btn btn-primary">Issue item</a>

                <a href="{% url 'add_to_stocks' pk=product.id %}" class="btn btn-primary">Add to stock</a>


            </td>
        </div>

        </tr>
    </tbody>
    {% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}