{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<br />
<div class="back-container">

    <form method="POST" action="">
         <div class="card-header" style="width: 76%; background-color: white; margin:0 auto;">
            <h1 class="text-center" style="color: black;">SALES FORM</h1>
         </div>
        <br />
        <div class="card" style="opacity: 90%; background-color: aliceblue;width: 100%;margin:0 auto;">
            <div class="card-body">

                {% csrf_token %}
                {{sales_form | crispy}}


                <button class="button" type="submit">SELL</button> <br>

            </div>
        </div>

    </form>


</div>
</div>
</div>
{% endblock %}