{% extends 'base.html' %}

{% load static %}

{% block content%}

<style>
    
    input {width: 50%;}
    .table-responsive {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    }
    h4 {margin-left: 500px;
        color:#0C356A;
        text-shadow: 2px 2px 4px #000000;}
        body{background-color: darkgray;}
</style>
</head>
<body>
<h4 class="mb-3">PAYMENT LIST</h4><hr>
<a href="{% url 'create_payment' %}">Create Payment</a>

</td>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
              
              
                <th scope="col"> Sitter Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Babies Attended</th>
                <th scope="col">Total Amount</th>
           
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
    
                <td>{{ payment.sitter_name}}</td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.date }}</td>
                <td>{{ payment.numbers_of_babies_attended_to}}</td>
                <td>{{ payment.total_amount}}</td>
                  
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>









{% endblock %}