{% extends 'base.html' %}
{% load static %}
{% block content%}

<style>
    
    input {width: 50%;}
    .table-responsive {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
        margin-top: 20px;
    }
    h4 {margin-left: 500px;
        color:#0C356A;
        text-shadow: 2px 2px 4px #000000;}
        body{background-color: darkgray;
        margin-top: 80px;}

        button {
            background-color: #0c356a;
          }
          .btn-primary {
            background-color: #094f9f;
          }
          .btn {
              background-color: #0c356a;
              color: white;
              transition: background-color 0.7s;
              text-decoration: none;
              padding: 8px 16px;
              border-radius: 4px;
          }
      
          .btn:hover {
              background-color: #094f9f; /* Change to a darker shade for hover */
          } 
          .table-container {
            box-shadow: 1px 0px 20px -1px rgba(0,0,0,0.65);
            overflow-x: auto;
            max-width: 100%;
            border-radius: i5px;
            background-color: white;
            border-radius: 15px;
            font-family:sans-serif;
        
          
          }
          .frame th {
            background-color: #0c356a;
            color:white;
        }
        .search {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 450px;
          }   
          .search form input[type="submit"] {
            margin-left: 10px; /* Adjust spacing between input and button */
            
          }
          .search form {
            display: flex;
            align-items: center;
            margin-bottom: 0; /* Remove default margin */
          } 
          select[name="sitter_name"] {
            border: 3px solid rgba(0, 128, 255, 0.2);
            box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
            transition: border-color 0.3s, box-shadow 0.3s;
            border-radius: 4px;
            padding:0.4rem 0;
        }
        
        
        select[name="sitter_name"]:focus {
            border-color: rgba(0, 128, 255, 0.5);
            box-shadow: 0 0 0.2rem rgba(0, 128, 255, 0.5);
        }
</style>
</head>
<body>
<h4 class="mb-3">PAYMENT LIST FOR SITTERS</h4><hr>
<div class="search">
<form action="" method="GET"style="">
    {{payment_filter.form}}
    <input type="submit" value="Search sitter name" class="btn btn-primary" style="width:170px"/>
    </form>
</div>
<div class="container">
<a href="{% url 'create_payment' %}" class="btn btn-primary mb-3" style="margin-left:25px;">Create Payment</a>

</td>
<div class="table-container">
<div class="table-responsive">
    <table id="dataTable" class="table table-stripped table-hover">
        <thead class="frame" style="text-align:center;">
            <tr>
              
                <th scope="col">#</th>
                <th scope="col"> Sitter Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Babies Attended</th>
                <th scope="col">Total Amount paid</th>
                <th scope="col">Action</th>
           
        </thead>
        <tbody style="text-align:center;">
            {% for payment in payments %}
            <tr>
                <td>{{ payment.id }}</td>
                <td>{{ payment.sitter_name}}</td>
                <td>UGX{{ payment.amount_paid }}</td>
                <td>{{ payment.date }}</td>
                <td>{{ payment.numbers_of_babies_attended_to}}</td>
                <td>UGX{{ payment.total_amount}}</td>
               <td> <a href="{% url 'edit_paymentsitter' id=payment.id %}" class="btn btn-primary">Edit</a>


            </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>







{% endblock %}