{% extends 'base.html' %}
{% load static %}
{% block content%}

<style>
    
    input {width: 50%;}
    .table-responsive {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
        margin-top: 20px;
    }
    h4 {margin-left: 500px;
        color:#0C356A;
        text-shadow: 2px 2px 4px #000000;}
        body{background-color: darkgray;
        margin-top: 20px;}

        button {
            background-color: #0c356a;
          }
          .btn-primary {
            background-color: #094f9f;
          }
          .btn {
              background-color: #0c356a;
              color: white;
              transition: background-color 0.7s;
              text-decoration: none;
              padding: 8px 16px;
              border-radius: 4px;
          }
      
          .btn:hover {
              background-color: #094f9f; /* Change to a darker shade for hover */
          }        
</style>
</head>
<body>
<h4 class="mb-3">PAYMENT LIST FOR SITTERS</h4><hr>

<form action="" method="GET"style="margin-right:450px;">
    {{payment_filter.form}}
    <input type="submit" value="Search sitter name" class="btn btn-primary" style="width:170px"/>
    </form>
<br>
<a href="{% url 'create_payment' %}" class="btn btn-primary">Create Payment</a>

</td>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
              
                <th scope="col">#</th>
                <th scope="col"> Sitter Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Babies Attended</th>
                <th scope="col">Total Amount paid</th>
                <th scope="col">Action</th>
           
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.id }}</td>
                <td>{{ payment.sitter_name}}</td>
                <td>UGX{{ payment.amount_paid }}</td>
                <td>{{ payment.date }}</td>
                <td>{{ payment.numbers_of_babies_attended_to}}</td>
                <td>UGX{{ payment.total_amount}}</td>
               <td> <a href="{% url 'edit_paymentsitter' id=payment.id %}" class="btn btn-primary">Edit</a>


            </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>









{% endblock %}