{% extends 'base.html' %}

{% load static %}

{% block content%}

<style>
    
    input {width: 50%;}
    .table-responsive {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    }
    h4 {margin-left: 500px;
        color:#0C356A;
        text-shadow: 2px 2px 4px #000000;}
        body{background-color: darkgray;}
        button {
            background-color: #0c356a;
          }
          .btn-primary {
            background-color: #094f9f;
          }
          .btn {
              background-color: #0c356a;
              color: white;
              transition: background-color 0.7s;
              text-decoration: none;
              padding: 8px 16px;
              border-radius: 4px;
          }
      
          .btn:hover {
              background-color: #094f9f; /* Change to a darker shade for hover */
          }        
        
</style>
</head>
<body>
<h4 class="mb-3">LISTS OF SITTERS </h4><hr>

<!-- <a style="margin-left: 900px;" href="/arrival" class="btn btn-primary mb-3">DAILY DEPARTURE REGISTER</a> -->


<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Sitters number</th>
                <th scope="col">Date</th>
                <th scope="col">Timein</th>
                <th scope="col">Attendancestatus</th>
                <th scope=>Action</th>  
            </tr>
        </thead>
        <tbody>

           
            <tr>
                <td>{{ sitter_info.id }}</td>
                <td>{{ sitter_info.sitter_name}}</td>
                <td>{{ sitter_info.sitter_number }}</td>
                <td>{{ sitter_info.date_of_arrival }}</td>
                <td>{{ sitter_info.timein }}</td>
                <td>{{ sitter_info.Attendancestatus}}</td>
                <td>
                    <div>
                        <a href="{% url 'editonduty' id=sitter_info.id %}" class="btn btn-primary mb-3">Edit </a>

                    </div>
                </td>
            </tr>
          
        </tbody>
    </table>
</div>









{% endblock %}