{% extends 'base.html' %}

{% load static %}

{% block content%}

<style>
    
    .card {
        background-color: white;
        box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
        max-width: 500px; /* Adjust max-width as needed */
        margin: 0 auto; /* Center the card horizontally */
        margin-top: 20px; /* Add some top margin */
        padding: 20px; /* Add padding for content */
        border-radius: 10px; /* Add border radius for rounded corners */
        border: 5px solid rgba(0, 128, 255, 0.2);
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
        font-family: sans-serif;
    }

    h4 {
        font-family: sans-serif;
        color: #0C356A;
        text-shadow: 2px 2px 4px #000000;
        text-align: center; /* Center the heading */
        margin-top:85px;
    }

    button {
        background-color: #0c356a;
    }

    .btn-primary {
        background-color: #094f9f;
    }

    .btn {
        background-color: #0c356a;
        color: white;
        transition: background-color 0.7s;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 4px;
    }

    .btn:hover {
        background-color: #094f9f;
    }

    .info-item {
        margin-bottom: 10px;
    }
    body{    background-color: #c8beb5;
    }
</style>
</head>
<body>
    <h4 style="text-transform:uppercase;">{{ sitter_info.sitters_name}}'S DETAILS</h4><hr>
    


    <div class="card"style="margin-top:55px; margin-bottom:55px;">
        <div class="info-item"><strong>#:</strong>{{ sitter_info.id }}</div>
        <div class="info-item"><strong>Sitter Name:</strong> {{ sitter_info.sitters_name}}</div>
        <div class="info-item"><strong>Sitter Number</strong> S0{{ sitter_info.id }}</div>
        <div class="info-item"><strong>Departure Date and Time</strong> {{ sitter_info.date_of_departure }}</div>
        <div class="info-item"><strong>Status:</strong> {{ sitter_info.status }}</div>
       
        <div class="text-center d-flex" >
            <a href="{% url 'editsitter' id=sitter_info.id %}" class="btn btn-primary m-2 ">Edit Sitters</a>
            <a href="/sitterdeparture"><button class="btn btn-primary m-2">Go back</button></a>
        </div>
    
    </div>
    {% endblock %}












