{% extends 'base.html'%} 
{% block content%}
<br /><br>
<div class="container" style="background-color: aliceblue;">
    <h1 class="card-header text-center" class="v">ALL RECEIPTS</h1><br>
    {% for sale in sales %}
    <div class="card" style="opacity: 90%;" >
        
        <div class="card-body">
            <h5 style="text-align: right;"><h5>Date: {{ receipt.sale_date}}</h5>
        </h5>
            <h2 class="v">DAYSTAR DAYCARE</h2>
            <h3 class="card-title" style="color:#FB667A; ">Child name : {{sale.payee | title}}</h3>
        
            <h6 class="card-text">Doll Name : {{sale.doll}}</h6>
            <h6 class="card-text">Amount Paid: UGX{{ sale.amount_received }}</h6>
            <h6 class="card-text">Quantity: {{sale.quantity_sold }}</h6>
            <h2>Total Price : UGX{{ sales.get_total }}</h2>
            <div style="flex: 1">
                <h6 class="card-text">Amount Due: UGX{{ sale.get_change }}</h6>
                <a href="{% url 'receipt_detail' sale.id %}">
                   
                    <button class="button" type="submit"style="width:auto;">Print Receipt</button> <br>
                </a>
            </div>
        </div>
    </div>
    <br />
    {% endfor %}
</div>
{% endblock %}